{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container mt-5">
    <br>
    <h1 class="display-6" style="color:red;">Change Password</h1>
    <br/>
    <div class="mx-auto row">
        <div  class="col-lg-7">
            <div class="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <br><button class="btn btn-danger">Change Password</button>
                </form>
            </div>
        </div>
        <div class="col-lg-5">
            <img src="{% static 'images/recipet.jpg' %}" style="width:100%;"/>  
        </div>  
    </div>
</div>
{% endblock %}