{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Profile{% endblock %}

{% block content %}

<div class="container mt-5">
    <br><br><br>
    <h1 class="display-6" style="color:red;">Profile Settings</h1>
    <br/>
    <div class="mx-auto row">
        <div  class="col-lg-7">
            <div class="form-group">
                {{user.profile.bio}}
                <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <br><button class="btn btn-danger" type="submit"><i class='fas fa-edit'></i>&nbsp; Update Settings</a></button>
                </form>
            </div>
        </div>
        <div class="col-lg-5">
            <img src="{% static 'images/recipeedit.jpeg' %}" style="width:100%;"/>  
        </div>  
    </div>
</div>
{% endblock %}