{% extends 'base.html' %}
{% load static %}
{% block title %}Password Updated{% endblock %}

{% block content %}
    <div class="container" style=" justify-content:center; display:flex;">
        <div class="row pt-5">
            <div class="col-lg-6">
                <br><br><br><br><br>
                <h1 style="color:red; text-align:center;">Your password has been successfully changed..</h1>
            </div>
            <div class="col-lg-6">
                <img class="mx-auto d-block" src="{% static 'images/recipe5.png' %}" style="width:60%;"/>  
            </div>
        </div>
    </div>
{% endblock %}