{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--
    about-us start
    ============================== -->
	<section id="about-us">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" src="{% static 'images/cooker-img.png' %}"
							alt="cooker-img">
						<h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">Your
							<span>Recipes</span> </br> Has To Look <span>Good</span>
						</h1>
						<p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">Why do we do what we do? Simple, we believe flavor has no boundaries. We love sharing exciting and bold flavors.  We focus on making flavor easy for busy families which is why we created the ready- to-use minced, peeled and squeezable garlic and ginger options. Cooks have come to appreciate the convenience of adding a quick and savory flavor boost.  And now, a world of flavor is just a spoonful away with our exciting new line of Seasoning Blends. You’ll find us in the produce section of your favorite store. </p>
					</div>
				</div><!-- .col-md-12 close -->
			</div><!-- .row close -->
		</div><!-- .containe close -->
	</section><!-- #call-to-action close -->
{% endblock %}