{% extends 'base.html' %}
{% load static %}
{% block title %}Add New Categories{% endblock %}

{% block content %}

<div class="container mt-1">
    <br><br><br>
    {% if user.is_authenticated %}
        <h1 style="color:red;">Add New Category</h1>
        <br/>
        <div class="mx-auto row">
            <div  class="col-lg-7">
                <div class="form-group">
                    <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <br><button class="btn btn-danger" type="submit" style="color:white;">Add Category</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-5">
                <img src="{% static 'images/recipecat.jpg' %}" style="width:80%;"/>  
            </div>  
        </div>
    {% else %}
        <br/><br/>
        <h1 class="display-6" style="color:#ff530a;">You need to login to add new categories.</h1>
        <br/><br/><br/>
    {% endif %}
</div>

{% endblock %}