{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--
    blog start
    ============================ -->
	<section id="blog" >
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<h1 class="heading">Latest <span>From</span> the <span>Blog</span></h1>
						<br/>
						<div class="row" style="background-color:white;">
							    
							{% for post in blogData %}
							
								<div class="col-lg-4 pl-4" style="padding:40px;">
									<div class="blog-img"><br/>
										{% if post.image %}
											<img src="{{post.image.url}}" alt="{{ post.title }}" style="max-width:300px; max-height:300px;">
										{% else %}
											<img src="{% static 'images/blog/blog-img-1.jpg' %}" alt="Default Image" style="max-width:100%; max-height:100%;">
										{% endif %}
									</div><br/>
									<div class="content-right">
										<a href="{% url 'article-detail' post.pk %}"><h3 class="text-capitalize" style="color:red;">{{post.title}}</h3></a>
										
										By <b><span class="text-capitalize">{{post.author.first_name}} {{post.author.last_name}}</span></b> --
										{{post.post_date}}<br/><br/>
										
										<a href="{% url 'category' post.category|slugify %}" class="text-capitalize btn btn-danger" type="button">{{post.category}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
										{% if user.is_authenticated %}
											{% comment %} If current user is author of this blog,only then user can edit or delete post {% endcomment %}
											{% if user.id == post.author.id %}
												<a href="{% url 'update_post' post.pk %}" class="text-capitalize btn btn-danger" type="button">Edit</a>
												&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'delete_post' post.pk %}" class="text-capitalize btn  btn-danger" type="button"> Delete </a>
											{% endif %}
										{% endif %}
										<hr/>
										<h5>RECIPE</h5>
										{{post.recipe|slice:":120" | safe}}<br/>
										<!--<p>{{post.recipe | truncatechars:150 | safe}}</p>-->
					
									</div>
								</div>
							
							{% endfor %}
							
						</div>
					</div>
					<!--Pagination with bootstrap-->
    			    <div>
						<nav aria-label="...">
							<!--justify-content-center for ppagination in center-->
							<ul class="pagination justify-content-center">
							  {% if blogData.has_previous %}
								<li class="page-item">
								  <a class="page-link" href="/blog/?page=1" tabindex="-1">First</a>
								</li>
								<li class="page-item">
								  <a class="page-link" href="/blog/?page={{ blogData.previous_page_number }}" tabindex="1">Previous</a>
								</li>
							  {% endif %}
							  
							  <li class="page-item disabled"><a class="page-link" href="/blog/?page={{blogData.number}}">{{blogData.number}} of {{blogData.paginator.num_pages}} </a></li>
							  
							  {% if blogData.has_next %}
								<li class="page-item">
								  <a class="page-link" href="/blog/?page={{ blogData.next_page_number }}">Next</a>
								</li>
								<li class="page-item">
								  <a class="page-link" href="/blog/?page={{ lastpage }}">Last</a>
								</li>
							  {% endif %}
							</ul>
						  </nav><br>
            		</div>
        
				</div><!-- .col-md-12 close -->
			</div><!-- .row close -->
		</div><!-- .containe close -->
	</section><!-- #blog close -->
	
{% endblock %}