{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="about-us">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" width="300" src="{% static 'images/emailsu.png' %}"
							alt="cooker-img">
						<h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">{{msg}}</h1>
					</div>
				</div><!-- col-md-12 close -->
			</div><!-- row close -->
		</div><!-- .container close -->
	</section><!-- #call-to-action close -->
{% endblock %}